# Intellij
*.iml
.idea

# NPM
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# Obsidian
data.json

# Exclude MacOS Finder (System Explorer) view states
.DS_Store
